.header-home {
  display: flex;
  justify-content: center;
}

.home-text {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.f-proj,
.el-proj {
  display: flex;
  justify-content: center;
}

.f-proj {
  margin-top: 30px;
  margin-bottom: 5px;
  text-decoration: underline;
}

.CardPortfolio ul {
  /* max-width: 100%; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.EachCard {
  margin: 10px;
  min-width: 345px;
  overflow: hidden;
  position: relative;
  height: 340px;
  display: flex;
  flex-direction: column; /* Stack content vertically */
  justify-content: space-between;
}

.EachCard:hover .EchCardImage {
  transform: scale(1.2);
}

.EchCardImage {
  background-size: cover;
  transition: all 1.1s;
}
