.header-home {
  display: flex;
  justify-content: center;
}

.home-text {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.f-proj,
.el-proj {
  display: flex;
  justify-content: center;
}

.f-proj {
  margin-top: 30px;
  margin-bottom: 5px;
  text-decoration: underline;
}
